// SIDEBAR
// ==================================================
.sidebar {
  background-color: $sidebar-bg;
  min-height: $sidebar-base-height;
  width: $sidebar-collapsed-width !important;
  @include sidebar-toggled;
  .nav-item {
    .nav-link {
      color: $sidebar-color;
      @include hover-focus() {
        color: $sidebar-hover-color;
      }
    }
    &.active {
      &,
      > .nav-link {
        color: $sidebar-active-color;
      }
    }
  }
  &.toggled {
    overflow: hidden;
    width: 0 !important;
  }

  @media (min-width: 768px) {
    width: $sidebar-base-width !important;
    .nav-item {
      .nav-link {
        display: block;
        padding: 1rem;
        text-align: left;
        width: $sidebar-base-width;
        span {
          display: inline;
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
      .dropdown-menu {
        margin: 0 1rem;
        position: static !important;
        top: 0;
      }
    }
    &.toggled {
      overflow: visible;
      width: $sidebar-collapsed-width !important;
      @include sidebar-toggled;
    }
  }
}