.StickyFooter {
  background-color: $gray-200;
  bottom: 0;
  display: flex;
  height: $sticky-footer-height;
  position: absolute;
  right: 0;
  width: calc(100% - #{$sidebar-collapsed-width});
  .copyright {
    font-size: 0.8rem;
    line-height: 1;
  }
  @media (min-width: 768px) {
    width: calc(100% - #{$sidebar-base-width});
  }
}
