html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;

  .content-wrapper {
    padding-bottom: $sticky-footer-height;
    padding-top: 1rem;
    overflow-x: hidden;
    width: 100%;
  }
}
