html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
}

// BACKGROUND HELPERS
// ==================================================
.bg-blue {
  @include background-variant("blue");
}
.bg-indigo {
  @include background-variant("indigo");
}
.bg-purple {
  @include background-variant("purple");
}
.bg-pink {
  @include background-variant("pink");
}
.bg-red {
  @include background-variant("red");
}
.bg-orange {
  @include background-variant("orange");
}
.bg-yellow {
  @include background-variant("yellow");
}
.bg-green {
  @include background-variant("green");
}
.bg-teal {
  @include background-variant("teal");
}
.bg-cyan {
  @include background-variant("cyan");
}
.bg-primary {
  @include background-variant("primary");
}
.bg-secondary {
  @include background-variant("secondary");
}
.bg-success {
  @include background-variant("success");
}
.bg-info {
  @include background-variant("info");
}
.bg-warning {
  @include background-variant("warning");
}
.bg-danger {
  @include background-variant("danger");
}
