// Navbar
$navbar-base-height: 56px;

// Sidebar
$sidebar-bg: $gray-900;
$sidebar-color: fade-out($white, 0.5);
$sidebar-hover-color: fade-out($white, 0.25);
$sidebar-base-width: 250px;
$sidebar-collapsed-width: 100px;

// Sticky footer
$sticky-footer-bg: $gray-200;
$sticky-footer-color: $gray-600;
$sticky-footer-height: 100px;
$sticky-footer-base-width: calc(100% - #{$sidebar-base-width});
$sticky-footer-collapsed-width: calc(100% - #{$sidebar-collapsed-width});
