$navbar-base-height: 56px;
$sidebar-base-width: 225px;
$sidebar-collapsed-width: 90px;

// Sticky footer
$sticky-footer-bg: $gray-200;
$sticky-footer-color: $gray-600;
$sticky-footer-height: 80px;
$sticky-footer-base-width: calc(100% - #{$sidebar-base-width});
$sticky-footer-collapsed-width: calc(100% - #{$sidebar-collapsed-width});
